<section class="" *ngIf="response$ | async as users; else nodata">
  <!-- {{ users | json }} -->
  <!-- <app-card [user]="item" *ngFor="let item of response.users"></app-card> -->
  <!-- <nz-spin [nzSize]="'large'" nzSimple></nz-spin> -->
  <button class="boton" (click)="crear()" nz-button nzType="primary">
    Crear
    <i nz-icon nzType="step-forward" nzTheme="outline"></i>
  </button>
  <nz-table
    [nzScroll]="{ x: 'auto' }"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzTotal]="users.total"
    [nzPageIndex]="users.pageIndex"
    [nzPageSize]="5"
    #basicTable
    [nzData]="users.users"
  >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>E-mail</th>
        <th>Pais</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.lastname }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.country }}</td>
        <td>{{ data.phone }}</td>
        <td>
          <button
            style="border: 1px solid rgb(9, 113, 199); margin-right: 5px"
            nzType="default"
            nz-button
            (click)="Actualizar(data._id)"
          >
            <i
              nz-icon
              nzType="edit"
              style="color: rgb(9, 113, 199)"
              nzTheme="outline"
            ></i>
          </button>
          <button nz-button nzDanger>
            <i
              (click)="showDeleteConfirm(data)"
              nz-icon
              nzType="delete"
              nzTheme="fill"
            ></i>
            <!-- <i nz-icon [nzType]="'setting'" [nzTheme]="'fill'"></i>
            <i nz-icon [nzType]="'smile'" [nzTheme]="'outline'"></i>
            <i nz-icon [nzType]="'sync'" [nzSpin]="true"></i>-->
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-pagination
    [nzResponsive]="true"
    (nzPageIndexChange)="accion($event)"
    [nzPageSize]="5"
    [nzPageIndex]="users.pageIndex ?? 1"
    [nzTotal]="users.total"
  ></nz-pagination>
</section>
<section>
  <ng-template #nodata>
    <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
  </ng-template>
</section>

<!-- {  -->
<!-- "currency": { "code": "MXN", "name": "pesos mexicanos", "symbol": "$" }, -->
<!-- "_id": "61743af3fa3ea814d4a22eef", -->
<!-- "role": "seller", -->
<!-- "language": [ "español. ingles" ], -->
<!-- "email": "test@test.com", -->
<!-- "name": "test1", -->
<!-- "lastname": "testLastName", -->
<!-- "country": "mexico", -->
<!-- "countryCode": "+52",
    "countryCodeName": "MX", -->
<!-- "phone": 7321111 -->
<!-- } -->
