<section class="" *ngIf="(response$ | async) as users; else nodata">
    <!-- {{ users | json }} -->
    <!-- <app-card [user]="item" *ngFor="let item of response.users"></app-card> -->
    <!-- <nz-spin [nzSize]="'large'" nzSimple></nz-spin> -->
    <nz-table [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="users.total" [nzPageIndex]="users.pageIndex ?? 1" [nzPageSize]="5" #basicTable [nzData]="users.users">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
                <th>Pais</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
          <tr (click)="detalles(data)" *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td>{{data.lastname}}</td>
            <td>{{data.email}}</td>
            <td>{{data.country}}</td>
            <td>{{data.phone}}</td>
            <td>
              <a [routerLink]="[data._id]">Actualizar 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a routerLink="">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    <nz-pagination (click)="imprimir($event)" [nzPageSize]="5" [nzPageIndex]="1" [nzTotal]="users.total"></nz-pagination>
</section>
<section>
    <ng-template #nodata>
        <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </ng-template>
</section>

<!-- {  -->
    <!-- "currency": { "code": "MXN", "name": "pesos mexicanos", "symbol": "$" }, -->
    <!-- "_id": "61743af3fa3ea814d4a22eef", -->
    <!-- "role": "seller", -->
    <!-- "language": [ "español. ingles" ], -->
    <!-- "email": "test@test.com", -->
    <!-- "name": "test1", -->
    <!-- "lastname": "testLastName", -->
    <!-- "country": "mexico", -->
    <!-- "countryCode": "+52",
    "countryCodeName": "MX", -->
    <!-- "phone": 7321111 -->
<!-- } -->