.ancho {
  // background-color: cyan!important;
  width: 100%;
  height: 100%;
  display: block;
}
nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}
.login-form-button {
  margin-top: 10px;
  cursor: pointer;
  float: right;
}
