<!-- <div nz-col [nzSpan]="12" *ngFor="let control of [1,2]">
  <nz-form-item>
    <nz-form-label [nzFor]="'field' + control">Field {{ control }}</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        placeholder="placeholder"
        [formControlName]="'field' + control"
        [attr.id]="'field' + control"
      />
    </nz-form-control>
  </nz-form-item>
</div> -->
<section class="ancho">
  <!-- {{ formulario?.value | json }} -->
  <form
    nz-form
    [formGroup]="formulario!"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <h4>Usuario</h4>
    <div nz-row [nzGutter]="24">
      <!-- nzSm="4"
        nzMd="6"
        nzLg="8"
        nzXl="10" -->
      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <!-- nzOffset="4" -->
        <nz-form-label nz-row nzSpan="12" nzMd="12" nzLg="12" nzFor="name"
          >Nombre</nz-form-label
        >
        <nz-form-control
          nz-row
          [nzSpan]="22"
          nzMd="12"
          nzLg="12"
          nzErrorTip="El nombre el obligatorio!"
        >
          <!-- <nz-input-group nzPrefixIcon="user"> -->
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="Nombre"
          />
          <!-- </nz-input-group> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label
          nz-row
          nzXs="20"
          nzSpan="12"
          nzMd="12"
          nzLg="12"
          nzFor="lastname"
          >Apellido</nz-form-label
        >
        <nz-form-control
          nz-row
          [nzSpan]="22"
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nzErrorTip="el apellido es obligatorio!"
        >
          <!-- <nz-input-group nzPrefixIcon="lock"> -->
          <input
            type="text"
            nz-input
            formControlName="lastname"
            placeholder="Apellido"
          />
          <!-- </nz-input-group> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label
          nz-row
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nzSpan="12"
          nzFor="email"
          >E-mail</nz-form-label
        >
        <nz-form-control
          nz-row
          [nzSpan]="22"
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nzErrorTip="El correo es obligatorio!"
        >
          <!-- <nz-input-group nzPrefixIcon="lock"> -->
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="E-mail"
          />
          <!-- </nz-input-group> -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nz-row
          nzSpan="12"
          nzFor="phone"
          >Telefono</nz-form-label
        >
        <nz-form-control
          nz-row
          [nzSpan]="22"
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nzErrorTip="El correo es obligatorio!"
          ><input
            type="tel"
            nz-input
            formControlName="phone"
            placeholder="Telefono"
        /></nz-form-control>
        <!-- <nz-form-control  nzErrorTip="Please input your Password!"> -->
        <!-- <nz-input-group nzPrefixIcon="lock"> -->
        <!-- </nz-input-group> -->
        <!-- </nz-form-control> -->
      </nz-form-item>
      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label nz-row nzSpan="12" nzFor="phone">Rol</nz-form-label>
        <nz-form-control
          nz-row
          [nzSpan]="22"
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nzErrorTip="El campo es obligatorio"
        >
          <nz-select nzPlaceHolder="Cambiar el rol" formControlName="role">
            <nz-option nzValue="seller" nzLabel="vendedor"></nz-option>
            <nz-option nzValue="admin" nzLabel="Aministrador"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="userName" nz-input placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item> -->

    <!-- <nz-form-item>
            <nz-form-control nzErrorTip="El correo es obligatorio!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="text" nz-input formControlName="email" placeholder="E-mail" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item> -->

    <h4>Ubicacion</h4>
    <div nz-row [nzGutter]="24">
      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nz-row
          nzSpan="12"
          nzFor="phone"
          >Pais</nz-form-label
        >
        <nz-form-control
          nz-row
          nzXs="20"
          nzMd="12"
          nzLg="12"
          [nzSpan]="22"
          nzErrorTip="el apellido es obligatorio!"
        >
          <nz-select
            nzPlaceHolder="selecciona el pais"
            formControlName="country"
          >
            <nz-option nzValue="Mexico" nzLabel="Mexico"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
        <nz-form-label
          nzXs="20"
          nzMd="12"
          nzLg="12"
          nz-row
          nzSpan="12"
          nzFor="phone"
          >Lada</nz-form-label
        >
        <nz-form-control
          nz-row
          nzXs="20"
          nzMd="12"
          nzLg="12"
          [nzSpan]="22"
          nzErrorTip="el apellido es obligatorio!"
        >
          <!-- <nz-input-group nzPrefixIcon="lock"> -->
          <input
            type="text"
            nz-input
            formControlName="countryCode"
            placeholder="Codigo"
          />
          <!-- </nz-input-group> -->
        </nz-form-control>
      </nz-form-item>
    </div>

    <div formGroupName="currency">
      <div nz-row [nzGutter]="24">
        <nz-form-item nzXs="20" nzMd="12" nzLg="12" nz-col [nzSpan]="12">
          <nz-form-label
            nzXs="20"
            nzMd="12"
            nzLg="12"
            nz-row
            [nzSpan]="22"
            nzFor=""
            >Moneda</nz-form-label
          >
          <nz-form-control
            nz-row
            nzXs="20"
            nzMd="12"
            nzLg="12"
            nzSpan="22"
            nzErrorTip="El campo es obligatorio"
          >
            <nz-select
              nz-row
              nzSpan="22"
              nzXs="20"
              nzMd="12"
              nzLg="12"
              nzPlaceHolder="escoger Moneda"
              formControlName="code"
            >
              <nz-option
                nz-row
                nzSpan="22"
                nzXs="20"
                nzMd="12"
                nzLg="12"
                *ngFor="let item of monedas"
                [nzValue]="item"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item nz-col [nzSpan]="12">
      <nz-form-label nzXs="20" nzMd="12" nzLg="12" nz-row nzSpan="12"
        >Idiomas</nz-form-label
      >
      <nz-form-control
        nz-row
        [nzSpan]="22"
        nzXs="20"
        nzMd="12"
        nzLg="12"
        nzErrorTip="El campo es obligatorio"
      >
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Seleccionar el Idioma"
          formControlName="language"
        >
          <nz-option
            *ngFor="let item of lenguas"
            [nzValue]="item"
            [nzLabel]="item"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12"></div>
    </div>
    <!-- [nzLoading]="true" -->
    <!-- [nzLoading]="cargando" -->
    <button
      [disabled]="formulario?.invalid"
      nz-button
      (click)="cargando = !cargando"
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      <i nz-icon nzType="enter" nzTheme="outline"></i>ks
      {{ userService.crearUsuario! ? "crear" : "actualizar" }}
      <!-- Actualizar -->
    </button>
  </form>
</section>
<ng-template #nodata>
  <p>no hay dtos</p>
</ng-template>
