p {
    margin: 0;
}
nz-card{
    width: 30%;
    overflow: hidden;
}
// .fff{
    // width: 30%;
    // display: block;
// }
.cardMio{
    display: inline-block;
    margin: 0.5rem 0.8rem;
    width: 30%;
    height: 30%;
    background-color: darkgoldenrod;
    z-index: 555;
}

nz-card{
    width: 30%;
    background-color: darkorange;
}
.medir{
    width: auto;
}